/* vim: sw=4 ts=4 expandtab nu:
 * */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9b59b6;
    font-family: sans-serif;
}

.mysection {
    background-color: #fff;
    overflow: hidden;
    margin: 10px;
    padding: 10px 20px;
}


.mainbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    margin: 10px;
}

.header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 90%;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control img {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control.success img.fa-check-circle {
    /*color: #2ecc71;*/
    filter: invert(63%) sepia(13%) saturate(2478%) hue-rotate(92deg) brightness(106%) contrast(79%);
    visibility: visible;
}

.form-control.error img.fa-exclamation-circle {
    /*color: #e74c3c;*/
    filter: invert(43%) sepia(34%) saturate(6612%) hue-rotate(341deg) brightness(96%) contrast(88%);
    visibility: visible;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small {
    color: #e74c3c;
    visibility: visible;
}

.form button {
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    border-radius: 4px;
    color: white;
    display: block;
    font-size: 16px;
    font-family: inherit;
    padding: 10px;
    width: 100%;
}

.table {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    font-family: sans-serif;
    overflow: hidden;
    font-weight: bold;
    background: #fff;
    margin: 10px;
}

.table thead th {
    background: #009578;
    color: #ffffff;
    text-transform: capitalize;
}

.table td,
.table th {
    padding: 10px 20px;
}

.table tbody tr:nth-of-type(even) {
    background: #eeeeee;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009578;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color:white;
}

.brand-title{
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li:hover {
  background-color: #555;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* responsive */
@media(max-width: 500px){
  .table thead{
    display: none;
  }

  .table, .table tbody, .table tr, .table td{
    display: block;
    width: 100%;
  }

  .table tr{
    margin-bottom: 15px;
  }

  .table td{
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table td::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size:  15px;
    font-weight: bold;
    text-align: left;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
